html{
  min-height: 100%;
   background-image: url("../img/mainimg.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 16px;  
}

* {
  box-sizing: border-box;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}
.verticalHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(39, 38, 38, 0.95);
  position: absolute;
  left: 10%;
  top: 0%;
  width: 283px;
  height: 100vh;
}
.verticalMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100%;
}
.verticalSlogan {
  color: white;
  width: 240px;
  font-size: 15px;
}
.verticalOrder {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(180, 131, 95, 1);
  width: 235px;
  height: 50px;
  margin-top: 20px;
  border-radius: 32px;
  color: black;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}
.verticalFeedback {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(188, 163, 145, 1);
  width: 235px;
  height: 50px;
  margin-top: 20px;
  border-radius: 32px;
  color: black;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}
.verticalOrder:hover,
.verticalFeedback:hover {
  color: white;
}
.logoContainer {
  margin-top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.logo {
  width: 200px;
}
.container {
  width: 1200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hardcode{
	display: flex;
  justify-content: space-between;
}
.leftHeader{
	display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 57px;
  width: calc(10% + 283px);
  height: 92px;
  background-color: rgba(55, 54, 54, 1);
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 57px;
  width: calc(100% - (10% + 283px));
  height: 92px;
  background-color: rgba(55, 54, 54, 1);
}
header a {
  color: #c7c8bb;
}
.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.menu li a {
  text-decoration: none;
  color: rgba(199, 200, 187, 1);
  font-size: 18px;
  font-style: normal;
  font-size: 20px;
  transition: border 0.5s ease-in-out;
  margin: 0 20px;
  display:flex ;
  flex-wrap: nowrap;
}
.menu li a:hover {
  border-bottom: 1px solid rgba(199, 200, 187, 1);
}
.menu li {
}
.nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 0 10%;
}
.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.social p {
  margin: 5px;
  font-size: 13px;
  color: rgba(199, 200, 187, 1);
}
.phone,
.instagram,
.facebook {
  display: flex;
  align-items: center;
}
.phonelogo,
.instalogo,
.facebooklogo {
  margin: 5px;
  /* width: 13px; */
  /* height: 13px; */
}
